.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    /*background-image: url("../../images/wallpaper1.jpeg");*/
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('../../images/wallpaper1.jpeg') no-repeat center center fixed;

    background-size: cover;
    font-family: 'Montserrat', sans-serif !important;
}

.background-video {
    position: fixed;
    width: 100vw;
    /*height: 100%;*/
    z-index: 0;
    opacity: 0.2;

}

.landing-container {
    width: 100vw;
    height: 16vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -2vw;
    z-index: 1;
}

.landing-container-1 {
    height: 100%;
    width: 15%;
    background-image: url("../../images/black-gradient.png");
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 3vw;
    overflow: hidden;
    border-bottom-left-radius: 1.5vw;
    border-top-left-radius: 1.5vw;
}

.landing-container-2 {
    height: 100%;
    width: 27%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    padding: 3vw;
    border-bottom-right-radius: 0.4vw;
    border-top-right-radius: 0.4vw;

}

h1 {
    font-size: 3.5vw;
    color: #ffffff;
    margin: 0;
    cursor: default;
}

h2 {
    font-size: 2vw;
    color: #ffffff;
    margin: 0;
    cursor: default;
    z-index: 1;
}

.landing button {
    width: 80%;
    padding: 0.7vw 2vw;
    border-radius: 0.3vw;
    font-size: 1.1vw;
    font-weight: 500;
    border: 0.2vw solid white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 1vw;
}

button:hover {
    transform: scale(1.03);
    /*background-color: #ffffff;*/
    /*color: #424242;*/
}

.landing .contained {
    background-color: white;
    color: #424242;
}

.landing .outlined {
    background-color: transparent;
    color: white;
}

.landing-bottom-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vw;
    margin-top: 8vw;
}

.hover-box {
    display: none;
    /*position: absolute;*/
    /*background-color: #000049;*/
    color: white;
    border-radius: 5px;
    top: 50%;
    left: -5%;
    font-size: 2vw;
}

.heading:hover + .hover-box {
    display: block;

}