.home {
    background-image: url("../../images/wallpaper2.jpeg");
    background-size: cover;
    font-family: 'Montserrat', sans-serif !important;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .contained {
    width: 80%;
    padding: 0.7vw 2vw;
    border-radius: 0.3vw;
    font-size: 1.1vw;
    font-weight: 500;
    border: 0.2vw solid white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 1vw;

    background-color: white;
    color: #424242;
}

.variety-conatiner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    gap: 2vw;
}

.variety {
    width: 40%;
    box-shadow: 0 0 0.3vw 0.06vw rgba(0, 0, 0, 0.4);
    border-radius: 0.3vw;
}

.variety-name {
    font-size: 1.2vw;
    font-weight: 500;
    margin: 8% 1vw;
    color: white;
    border-radius: 0.2vw;
    padding: 0.5vw;
    box-shadow: 0 0 0.6vw 0.06vw rgba(255, 255, 255, 0.4);
}

.variety-stock {
    font-size: 1.2vw;
    margin: 20% 1vw;
    color: white;
}